body {
      padding: 0;
      margin: 0;
      font-family: Helvetica, Arial, sans-serif;
  }
 header {
 	background-color: #1b644e;
 	text-align: center;
 	height: 100px;
 	margin-top: 0;
 }

 header h1 {
 	color: white;
 	margin: 0;
 	padding: 30px;

 }

.lesson-container {
	height: 200px;
	margin: 50px;
	display: block;
	}
 .lesson1 {
 	background-color: #eaf9f5#;
 }
 .lesson-container img {
 	height: 100px; 
 	width: 100px;	
 	border-radius: 60px;
 	border: 4px solid #1b644e;
 }
     