body {
      padding: 0;
      margin: 0;
      font-family: Helvetica, Arial, sans-serif;
  }
 header {
 	background-color: #1b644e;
 	text-align: center;
 	height: 150px;
 	margin-top: 0; 	
 }

 header h1 {
 	color: white;
 	margin: 0;
 	padding: 30px;
 }
  header h3 {
 	color: white;
 	margin: 0px;
 }
 nav {
 	background-color: #fd763e;
 	height: 50px;
 }
 nav ul {
 	list-style: none;
 	text-align: center;
 	margin-top: 0px;
 	padding-top: 15px;
 }
 nav li {
 	display: inline;
 	padding-right: 30px;
 }
 nav li a {
 	text-decoration: none;
 }

.lesson-container {
	margin: 50px;
	width: 100%;
	
	}

 .lesson-container img {
 	height: 100px; 
 	width: 100px;	
 	border-radius: 60px;
 	border: 4px solid #1b644e;
 }
 a img:hover {
 	border: 4px solid #fd7633;
 }
